.container{}
.App {
  text-align: center;
  
}
.titleAdmin{
  background-color: #ffffff;
  width: 90%;
  margin: 0 auto;

}
  



.connected_header{
  display: flex;
}

.logoutMain{
  display: none;
}
.containa{
  width: 10%;
  margin: auto;
}
.search_containerHome{
  margin-top:5px;
}

.logohome{
  width: 10%;
  
}
.c-form {
  width:40%;
  text-align: center;
  margin: auto;
  padding: 25px;
  border: 2px solid rgb(239, 239, 239);
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgb(225, 241, 249);
}

.connected_ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 0;
}

.titlehome{
  color: #f1f1f1;
  font-size: 30px;
}

.totalAds{
  width: 20%;
  margin: auto;
  margin-top: 1%;
  padding: 5px;
  border-radius: 15px;
  color: #f1f1f1;
  border: 1px solid rgb(12, 6, 210);
  background-color: rgb(43, 119, 226);
  box-shadow: 5px 5px 5px rgb(225, 241, 249);
}





.c-form input {
  display: block;
  width:90%;
  padding: 10px;
  text-align: center;
  margin: 15px auto;
  border-radius: 25px;
  border: 1px solid rgb(223, 222, 222) !important;
}

.linkforgot{
  color:rgb(139, 139, 139);
}
.socialfooter{
  display: flex;
  max-height: 70px;

}

.iconsocio{
  max-width: 50px;
  max-height: 50px;
  margin: auto;

}

.divider_blanc{
  width: 100%;
  height: 1px;
  background: #ffffff;
  margin-top: 10px;
  margin-bottom: 15px;
 
 

}


.divider{
  width: 100%;
  height: 2px;
  background: #f1f1f1;
  margin-top: 10px;
  margin-bottom: 15px;
 
}
.dividerfooter{
  width: 100%;
  height: 1px;
  background: #f1f1f1;
  
 
 
}
.divider_post{
  width: 100%;
  height: 1px;
  background: #f1f1f1;
  margin-top: 10px;
  margin-bottom: 15px;
 
}
.container_register{
  margin-top: 10%;
  margin-bottom: 10%;
  
}
.container_post{
  margin-top: 10%;
  margin-bottom: 10%;
  
}
.container_login{
  margin-top: 20%;
}
.imginfouser{
  width:100px;
}
.iconNtext{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1{
  color: gray;
  font-size: 17px;
  
}
.homeheader{
  border: 2px solid rgb(239, 239, 239);
  border-radius: 10px;
  margin-top:80px ;
  box-shadow: 5px 5px 5px rgb(225, 241, 249);
  width: 90%;
  margin-left: 5%;
  background-image: url("../src/assets/maldives.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.detailheader{

  border: 2px solid rgb(239, 239, 239);
  border-radius: 10px;
  margin-top:80px ;
  box-shadow: 5px 5px 5px rgb(225, 241, 249);
  width: 90%;
  margin-left: 5%;
  background-image: url("../src/assets/nautisme.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.titledetailhead{
  color: #f1f1f1;
  font-size: 30px;
}
.mainHome{
  display: flex;
  flex-direction:column;
  width: 100%;; 
  margin-left: auto;
 
  height: 900px;
}
.lastAds_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
}
.pfdetail{
  color: #f1f1f1;
  font-size: 15px;

}
.detail{
  display: flex;
  flex-direction:column;
}
.sim_container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 0;
}
.sect_detail{
  display: flex;
  flex-direction: row;
  justify-content:center;
  width: 100%;
  margin: auto;
  padding: 0;
}
.sect_detail_adsim{
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  margin: auto;
  margin-left: 5%;
  padding: 0;
  justify-content:center;
  
}
.article-detail{
  border: 2px solid rgb(239, 239, 239);
  box-shadow: 5px 5px 5px rgb(225, 241, 249);
  border-radius: 10px;
  width: 50%;
  margin-left: 5px;
  margin-top: 1%;
 
 
}
.aside_photo_container{
  width: 310px;
  margin-top: 1%;
  border: 2px solid rgb(239, 239, 239);
  box-shadow: 5px 5px 5px rgb(225, 241, 249);
}
.ads-card-detail{
 
  border-radius: 10px;
  width: 300px;
  box-shadow: 5px 5px 5px rgb(225, 241, 249);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 5%;
  margin-top: 1%;
}
.article-detail-user{
  border: 2px solid rgb(239, 239, 239);
  box-shadow: 5px 5px 5px rgb(225, 241, 249);
  border-radius: 10px;
  padding: 5px;
  margin-left: 5px;
  margin-top: 1%;
 
 
}

.imgsadetail{
    width: 300px;
    margin-left: 5px;
}


.bg_detail_header{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2178ba+44,5dd3b7+97&0.65+67,0+100 */
background: -moz-linear-gradient(top,  rgba(33,120,186,0.65) 44%, rgba(59,159,185,0.65) 67%, rgba(93,211,183,0.06) 97%, rgba(93,211,183,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(33,120,186,0.65) 44%,rgba(59,159,185,0.65) 67%,rgba(93,211,183,0.06) 97%,rgba(93,211,183,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(33,120,186,0.65) 44%,rgba(59,159,185,0.65) 67%,rgba(93,211,183,0.06) 97%,rgba(93,211,183,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a62178ba', endColorstr='#005dd3b7',GradientType=0 ); /* IE6-9 */

}
.logoutSvg{
  color: aliceblue;
}
.buttonsbmt{
  background:dodgerblue;
  border-radius: 5px!important;
  color: white;
  width: 70% !important;
  padding: 10px;
  margin-top: 30px !important;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid dodgerblue; 
}
.buttonpost{
  background:dodgerblue;
  border-radius: 5px!important;
  color: white;
  width: 70% !important;
  padding: 10px;
  margin-top: 30px !important;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid dodgerblue; 
}
.footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  background: linear-gradient(45deg, rgb(23, 136, 240), rgb(25, 67, 112));
  color: white;
  text-align: center;
  font-size: 10px;
  z-index: 4;
 
  
}
li{
  list-style-type: none;
}

.profile_link{
  text-decoration: none !important;
  text-align: center;
  font-size: 10px;
  /* aligner verticalement*/
  

  color: black;
}
.profile_link:hover{
  color: rgb(67, 32, 242);
  font-size: 13px;
 

}



.container_cat_inter{

  width: 100%;
  
}
.main_home{
  width: 100%;
  
  margin-bottom: 10%;
 
}

.sliderimg{
  width: 20%;
  height: 20%;
  object-fit: cover;
  border-radius: 10px;
}

.profil_first{

  border: 2px solid rgb(239, 239, 239);
  border-radius: 10px;
  margin-top:80px ;
  box-shadow: 5px 5px 5px rgb(225, 241, 249);
}

 #profilImg{
   width: 200px !important;
  border: 2px solid rgb(239, 239, 239);
  border-radius: 10px;
  margin-top:80px ;
  box-shadow: 5px 5px 5px rgb(225, 241, 249);
} 

.profile_link_connected{
  text-decoration: none;
  color: black;
  font-size:10px;
 }
 .profile_link_connected_user{
   text-decoration: none ;
   color: black;
   font-weight: bold;
   font-size: 12px;
   
 }


.conthome{
  width:100%;
  display: flex;
  flex-direction:row;

}
.AdsHome1{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-top: 8%;
  margin-left: 5%;
  
 
}
.AdsHome2{
  width: 100%;
  margin-top: 2%;
  margin-left: -8%;

}

.titlePosteur{
  font-size: 20px;
  font-weight: bold;
  color: rgb(116, 116, 118);
  margin-left: 5%;
  margin-top: 5%;
}
.Linkposter{
  display: flex;
  width: 50%;
  font-size: 15px;
  color: rgb(116, 116, 118);
  margin:auto;
  justify-content: space-around;

}
.Linkposter li{
  list-style-type: none;
  margin-top: 5%;
  
  
  
}
.mainContainerPoster{
  width: 80%;
  height: 100%;
  display: flex;
  margin: auto;
  margin-bottom: 200px;

}

.pubmarine{

  margin-left:2%;
 
  max-height: 55%;
  margin-top:10%;
}
.controwposter{
  width: 100%;
  display: flex;
  flex-direction: row;
 
}
.secondContainerPoster{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.containerImageAndInfoUser{
  width: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: 5px 5px 5px rgb(225, 241, 249);
  border: 2px dashed rgb(239, 239, 239);
  margin-bottom: 1%;
  
}
.main_poster{
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
  margin-right: 15%;

}
.info_annonce_poster{
  margin-left: 20px;
  width: 100%;
}
.annonce_poster{
  display: flex;
  flex-direction: row;
  box-shadow: 5px 5px 5px rgb(225, 241, 249);
  margin-top: 1%;
  border-radius: 10px;
  border: 1px solid rgb(234, 234, 234);
  width: 98%;
  background-color: #ffffff;
  z-index: 2;
 
}
.ads-card-detail-infouser{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
 
}
.ads-card-date_poster{
 font-weight:lighter;
 font-size: 10px;
 float:right;
 margin-right: 10px;
 
}

.asideposterpub{
  display: flex;
  flex-direction: column;
}


.info_poster_phone{
  font-size: 12px;
}

.containerCardwEdition{
  width: 98%;
  display: flex;
  flex-direction: row;
 
}
.EditionPalette{
  display: flex;
  flex-direction: row;
  margin-left: 1%;
  height: 80px; 
  width: 90px;   
  box-shadow: 5px 5px 5px rgb(225, 241, 249);
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  
}
.iconEdt{
  width: 20px;
  height: 20px;
  margin:auto 5px;
  border: 2px solid rgb(239, 239, 239);
  
}


.weather{
  width: 100%;
  margin-top: 2%;
  margin-left: 2%;
  display: flex;
  flex-direction: row;
  background: linear-gradient(45deg, rgb(74, 152, 241), rgb(4, 14, 32));
border-bottom: 5px solid rgb(239, 239, 239);
box-shadow: 5px 5px 5px rgb(225, 241, 249);
  border-radius: 10px;
  color: #ffffff;
 
}

.weather_info{
  width: 50%;
  height:50%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, rgb(74, 241, 210), rgb(25, 55, 112));
  box-shadow: 5px 5px 5px rgba(29, 29, 30, 0.338);
  color: #ffffff;
  text-align: start;
  border-radius: 10px;
  padding-left: 2%;
 
 
}


.iconeNdescWeather{
  display: flex;
  flex-direction: column;
  margin-top: -2%;
  
  margin-left: 18%;
}

.contAdmin{
  width: 80%;
 
  margin: 85px auto;
  border-radius: 6px;

  background-color: rgb(255, 255, 255);
}
.usernameAdmin{
  font-size: 20px;
  color: rgb(4, 14, 83);
  font-weight: bold;}
  .contAdmin_content{
    background-color: rgb(255, 255, 255);
  }
  .main_cont_admin{
    width: 100%;
    background-color: rgb(248, 246, 246);
   margin-bottom: 100px;
    border-radius: 10px;
  }
@media screen and (max-width: 500px){
  
  .mainHome{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 80%;
    
  }
  
  .totalAds{
  width: 60% !important;
  font-size: 12px;
}

  .container_register{
    margin-top: 20% !important;
   
  }
  .container_post{
    margin-top: 20% !important;
   
  } 
  .post-container-form{
    margin-top: 0% !important;
   
  }
  .labelcat{
    font-size: 12px;
   
  }

  .container_login{
    margin-top: 55%;
  }
  .title3{
    font-size: 12px;
  }

  h1{
    font-size: 20px;
  }

  .divider_post{
    display: none !important;
   
  }

  .logohome{width: 50%;}
  .logoutMain{
    display: block;
    text-decoration: none;
    color: aliceblue;
    margin-top: 17px;
  }

  .logoutSvg{
   display: none;
  }

  .c-form {
    width:80%;
    
   
  }
  .container_register{
    margin-top: 50%;
  }

  .containa{
    width: 20%;
    margin: auto;
  }
  .iconsocio{
    max-width: 80px;
    max-height: 80px;
    margin: auto;
  
  }

  .connected_ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 0;
    
  }
  .profile_link{
    text-decoration: none !important;
    font-size: 9px;
    margin-right: 2px;
    
  }

 
  .buttonpost{
    margin-bottom: 10px !important;
  }

.cadreImg{
  margin-top: 5px;
  
}
.sect_detail{
  display: flex;
  flex-direction: column;
  justify-content:center;
  width: 100%;
  margin: auto;
  padding: 0;
}

.aside_photo_container{
  width:80%;
  margin-top: 1%;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(239, 239, 239);
  box-shadow: 5px 5px 5px rgb(225, 241, 249);
  margin-left: 10%;
}
.article-detail{
  width:80%;
  margin-top: 1%;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(239, 239, 239);
  box-shadow: 5px 5px 5px rgb(225, 241, 249);
  margin-left: 10%;

}
.article-detail-user{
  border: 2px solid rgb(239, 239, 239);
  box-shadow: 5px 5px 5px rgb(225, 241, 249);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  margin-left: 5px;
  margin-top: 1%;
 
 
}

.titlePosteur{
  
  margin-top: 15%;
  width: 100%;
}
.Linkposter{
 
  width: 70%;


}
.main_poster{
  width: 70%;
  margin-left: 15%;
  margin-top: 20%;
  margin-right: 15%;

}

.info_poster_cont{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.mainContainerPoster{
  width: 100%;
  display: flex;

}

.Linkposter li{
  list-style-type: none;
  margin-top: 5%;
  width: 100%;
  
  
  
}
.pubmarine{
 display: none;
}
.iconEdt{
  width: 20px;
  height: 20px;
  margin:auto 5px;
  border: none;
  
}

.EditionPalette{
border: none;
box-shadow: none;
height: 100px; 
width: 90px;
padding: 5px;


}

}

@media screen and (min-width: 1000px){

  .container_login{
    margin-top: 5%;
    
    
  }
  .container_register{
    margin-top: 5%;
  }

  

 

}